---
// Responsive two-column layout: stacks on mobile, side-by-side on md+
---

<div class="flex w-full flex-col md:flex-row md:flex-wrap md:items-stretch gap-4">
  <div class="w-full md:min-w-[16rem] md:flex-1 [&>:first-child]:mt-0 [&>:last-child]:mb-0">
    <slot name="left" />
  </div>
  <div class="w-full md:min-w-[16rem] md:flex-1 [&>:first-child]:mt-0 [&>:last-child]:mb-0">
    <slot name="right" />
  </div>
</div>
